<div class="jumbotron"><h2 *ngIf="accion == 'transferir'">Pasar productos de almacén a la tienda</h2>
  <h2 *ngIf="accion == 'devolver'">Devolver productos de la tienda al almacén</h2>
  <h2 *ngIf="accion == 'reponer'">Reponer productos en almacén</h2></div>

<div class="container">
  <label>Seleccione el producto: </label>
<select class="form-control mb-5" id="select-producto" [(ngModel)]="productoSeleccionado" (ngModelChange)="cargarProducto($event)">
    <option [ngValue] disabled selected >Seleccione una opción</option>
  <option  *ngFor="let producto of productos" [ngValue]="producto" [selected]="productoSeleccionado == producto">
    {{producto.nombre}}
    </option>
</select>

<form #transferenciaForm="ngForm" appValidacionTransferencia>

 <h3>{{productoT.nombre}}</h3>
<label>Cantidad de stock en el almácen:</label>
<input type="number" class="form-control" id="cantidad-almacen" name="cantidad_almacen" [ngModel]="productoT.cantidadUnidadesAlmacen" disabled><br>
<label>Cantidad de stock en la tienda:</label>
<input type="number" class="form-control" id="cantidad-tienda" name="cantidad_tienda" [ngModel]="productoT.cantidadUnidadesTienda" disabled><br>

<label>Cantidad de stock a <span *ngIf="accion == 'tranferir'">traspasar</span>
  <span *ngIf="accion == 'devolver'">devolver</span>
  <span *ngIf="accion == 'reponer'">reponer</span>:</label>
<input type="number" class="form-control" id="cantidad-traspasar" name="cantidad_traspasar" #cantidad_traspasar="ngModel" [disabled]="!productoT.id"  [(ngModel)]="cantidad" min="0"><br>

<input type="hidden" name="accion" [(ngModel)]="accion"/>
<div *ngIf="cantidad_traspasar.errors?.min" class="alert alert-danger">
No se admiten números negativos
</div>
<div *ngIf="invalido">
<div *ngIf="transferenciaForm.errors?.errorCantidad" class="alert alert-danger">
  Introduzca una cantidad.
</div>

<div *ngIf="transferenciaForm.errors?.errorTransferencia" class="alert alert-danger">
  No hay unidades suficientes en el almacén
</div>

<div *ngIf="transferenciaForm.errors?.errorDevolucion" class="alert alert-danger">
  No hay unidades suficientes en la tienda
</div>
</div>

<button id="transferir-guardar" (click)="transferir(transferenciaForm.invalid)" type="submit" [disabled]="!productoT.id" class="btn btn-primary float-left">
  <span *ngIf="accion == 'transferir'">Traspasar</span>
  <span *ngIf="accion == 'devolver'">Devolver</span>
  <span *ngIf="accion == 'reponer'">Reponer</span>
</button> 
<button id="transferir-volver" (click)="volver()" class="btn btn-secondary float-right">Volver</button>
</form>
</div>
    
