<div class="jumbotron bgblue">
  <h2 class="title ">ROOM  -  SUIT  -  ROOM</h2>
</div>

<div class="container">
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel title="Modelos de Estancia" class="acc-nav" id="tipo">
      <ng-template ngbPanelContent>
        <nav class="nav flex-column fonty">
          <a class="nav-link"  routerLink="/tipoEstancia/listar">Registrados</a>
          <a class="nav-link" routerLink="/tipoEstancia/"> Registrar nuevo</a>
        </nav>
      </ng-template>
    </ngb-panel>
</ngb-accordion>
</div>

<br>
<br>

<div class="container">
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel title="Estancias" class="acc-nav" id="producto">
      <ng-template ngbPanelContent >
        <nav class="nav flex-column fonty">
          <a class="nav-link" routerLink="/estancia/listar">Registradas</a>
          <a class="nav-link" routerLink="/estancia/">Registrar nueva</a>
        </nav>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
