<div class="jumbotron bgblue">
    <h2 class="title " id="titulo-producto-maestro">
        Estancias Registradas
    </h2>
</div>

<div class="container container-xl">
    
<table id="tabla-estancia" class="table mb-5">
    <thead>
        <tr class="bggreen fonty">
            <th>Ref</th>
            <th>Modelo</th>
            <th>Plazas</th>
            <th>Superficie</th>
            <th>Disponible</th>
            <th>Extras</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let estancia of estancias">
            <td>{{estancia.ref}}</td>
            <td>{{estancia.nombreTipoEstancia}}</td>
            <td>{{estancia.plazas}}</td>
            <td>{{estancia.superficie}}</td>
            <td><div *ngIf="estancia.disponible; else NoPri">Activo</div>
                <ng-template #NoPri>Inactivo</ng-template></td>
            <td>{{estancia.complementos}}</td>
            <td><a routerLink="../{{estancia.id}}" (click)="ver()" class="estancia-ver btn btn-block btn-info mr-3 mb-1">Consultar</a>
                <a routerLink="../{{estancia.id}}" class="estancia-modificar btn btn-block btn-primary">Modificar</a></td>
        </tr>
    </tbody>
</table>


<a routerLink="../" id="crear-estancia" class="btn btn-primary float-left">Registrar</a>
<button id="volver-listado-estancia" (click)="volver()" class="btn btn-secondary float-right">Salir</button>

</div>
