<div class="jumbotron bgblue">
    <h2 class="title " id="titulo-tipo-Estancia-maestro">
        Modelos de Estancia Registrados
    </h2>
</div>


<div class="container">
    
    <table id="tabla-tipo-Estancia" class="table mb-5">
        <thead>
            <tr class="bggreen">
                <th class="fonty">Nombre</th>
                <th class="fonty">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tipo of tiposTodos">
                <td>{{tipo.nombre}}</td>
                <td><div *ngIf="tipo.activo; else NoPri">Activo</div>
                    <ng-template #NoPri>Inactivo</ng-template></td>


                <td><a routerLink="../{{tipo.id}}" (click)="ver()" class="tipo-ver btn btn-info mr-3 ">Consultar</a>
                    <a routerLink="../{{tipo.id}}" class="tipo-modificar btn btn-primary">Modificar</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a routerLink="../" id="crear-tipo" class="btn btn-primary float-left">Registrar Nuevo</a>

    <button id="volver-listado-tipo" (click)="volver()" class="btn btn-secondary float-right">Salir</button>

</div>